/* body {
    font-family: Arial, sans-serif;
    background-color: #0b1b2b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.container {
    background-color: #0b1b2b;
    padding: 5px;
    border-radius: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container span {
    text-align: center;
    margin: 35px;
    font-size: 25px;
    border: 2px white solid;
    border-radius: 50px;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

h2,
h3 {
    text-align: center;
}

.donation-amounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 10px;
}

.donation-amounts button {
    background-color: #1b2838;
    color: black;
    background: white;
    width: 160px;
    padding: 7px 20px;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;

}

.donation-amounts button:checked+.toggle-label {
    background-color: #fb7406;
}

/* .donation-amounts button:hover {
    background-color: #3b4f6b;
} */

.InputRow {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.inputField {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputField {
    margin-bottom: 20px;
}

.inputField label {
    font-size: 14px;

}

.inputField input {
    min-width: 245px;
    padding: 22px 14px;
    font-size: 14px;
}

.personal-info,
.billing-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.personal-info h3,
.billing-details h3 {
    text-align: left;
    display: flex;
    font-size: larger;
    font-weight: 600;
    margin: 10px;
}

input,
select {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 38px;
    font-size: 20px;
}


.total {
    /* text-align: center; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total p {
    text-align: left;
    display: flex;
    font-size: larger;
    font-weight: 600;
    margin: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 11px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /* margin-top: 20px; */
    font-weight: bolder;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}



@media (max-width : 400px) {
    .InputRow {
        flex-direction: column;
    }

    .donation-amounts button {
        max-width: 320px;
    }
}